.node {
  height: 22px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #cccccc;

  &:hover {
    cursor: pointer;

    &:not(.active) {
      background-color: #2a2d2e;
    }
  }

  svg {
    height: 100%;
  }
}

.active {
  background-color: #094771;
}
